@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Lato", sans-serif;
  color: #3e4643;
  /* font-family: 'Roboto Slab', serif; */
}

body :-webkit-scrollbar {
  display: none;
}

h3 {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #3e4643;
}
@media (min-width: 768px) {
  h3 {
    font-size: 25px;
  }
}
h1 {
  font-weight: 700;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 30px;
  color: white;
  text-align: center;
}

h2 {
  font-family: "Lato", serif;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #3e4643;
}

.advertTitle {
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  color: #3e4643;
  text-align: start;
}
.advertPrice {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.textAlignLeft {
  text-align: left;
}

.borderBottomGreyTr {
  border-bottom: 1px solid lightgrey;
}
.borderRightGreyTd {
  border-right: 1px solid lightgrey;
}

.boxShadow {
  border-radius: 20px;
  box-shadow: 0px 0px 8px -4px #777;
}

p,
label {
  font-size: 20px;
  color: #3e4643;
}
label {
  text-align: center;
}

.margin10 {
  margin: 10px;
}
.padding10 {
  padding: 10px;
}

.textAlignCenter {
  text-align: center;
}

.maxWidth900 {
  max-width: 900px;
}

.width90vw {
  max-width: 900px;
  width: 90vw;
  border: none;
}
.css-yk16xz-control {
  border: none !important;
}
.css-1okebmr-indicatorSeparator {
  background-color: transparent !important;
}

input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  /* z-index: -1; */
}
input[type="number"],
input[type="text"],
input[type="password"],
input[type="email"] {
  border: none;
  border-color: transparent;
  font-size: 16px;
}

textarea {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: #3e4643;
  border-color: lightgray;
}

.leftMargin18 {
  margin-left: 18px;
}

.lineBottom {
  padding-bottom: 5px;
  border-bottom: 1px solid lightgray;
}

.picker-panel {
  position: absolute !important;
  top: 32px !important;
  left: 15% !important;
  z-index: 5 !important;
  width: 240px !important;
  height: 220px !important;
  box-shadow: 0 2px 8px rgb(0 0 0 / 15%) !important;
  border-radius: 4px !important;
  background-color: white !important;
  transition: all 0.3s !important;
}
.year-input {
  max-width: 900px !important;
  font-size: 16px !important;
  margin: 10px 10px 10px 0px !important;
}
.input-wrapper {
  max-width: 900px !important;
}
.year-picker {
  border-color: transparent !important;
  width: 90vw !important;
  max-width: 900px !important;
}

.year-picker:hover {
  color: #08a045 !important;
  background-color: #fff;
  border-color: #08a045 !important;
}

.selected-year {
  background: #08a045 !important;
  color: #fff;
  border: 1px solid transparent;
}

.footer-today {
  display: inline-block;
  text-align: center;
  margin: 0;
  color: #08a045 !important;
  transition: color 0.3s ease;
}
.nav-button:hover {
  color: #08a045 !important;
}

.boxShadorHomePage {
  box-shadow: 0 0 10px -7px #777;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px;
  position: relative;
  top: -200px;
}
@media (min-width: 768px) {
  .boxShadorHomePage {
    margin: 0 auto;
  }
}

.homeBackground {
  background-image: url("./img/Ford_Mustang_Fastback_1967_0000.jpg3769b377-86c9-45d1-82ca-c7e365a9163eOriginal.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}
.authBackground {
  background-image: url("./img/beetles.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -200px;
}

.inputBackgroundGrey {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  height: 40px;
}

.authTitles {
  text-align: start;
  font-size: 55px;
  padding: 10px;
  font-weight: 900;
  padding-top: 60px;
  letter-spacing: 2px;
  line-height: 70px;
}

.titlesShadow {
  text-shadow: 1px 2px 3px rgb(0 0 0 / 30%);
}

.infoBoxProfile {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  margin-top: 100px;
  border-radius: 20px;
  background-color: white;
}
@media (min-width: 768px) {
  .infoBoxProfile {
    margin: 100px auto;
    width: 400px;
  }
}
@media (min-width: 768px) {
  #profileTargetInfo {
    width: 300px;
    text-align: center;
  }
}

.boxShadowBottom {
  box-shadow: 0px 15px 20px -1px rgb(0 0 0 / 10%);
}

.colorBoxProfile {
  background-color: #0b6e4f;
  width: 100vw;
  height: 30vh;
  position: fixed;
  z-index: -10;
  top: -5vh;
  border-radius: 40px;
}

.ratingBoxProfile {
  display: flex;
  justify-content: space-evenly;
  width: auto;
  background-color: rgba(11, 110, 79, 0.1);
  border-radius: 10px;
  padding: 10px;
}

#formEditProfile {
  margin: 40% 10px;
}
@media (min-width: 768px) {
  #formEditProfile {
    margin: 100px auto;
    max-width: 900px;
  }
}

#ProfilePhotoUpDateProfile {
  padding: 0;
  width: 100px;
  height: 100px;
}
#divProfilePhotoUpDateProfile {
  height: 130px;
  width: 130px;
  margin-left: 34%;
}
@media (min-width: 768px) {
  #divProfilePhotoUpDateProfile {
    margin-left: 44%;
  }
}

.sellCar {
  padding-bottom: 100px;
}

@media (min-width: 768px) {
  .sellCar {
    max-width: 900px;
    margin: 10px auto;
    box-shadow: 0 0 10px -8px grey;
    border-radius: 20px;
    padding: 20px;
  }
}
@media (min-width: 768px) {
  .softGreenP {
    font-size: 20px;
  }
}

.margin0Auto {
  margin: 0 auto;
}

.sellIcon {
  position: relative;
  top: -390px;
  left: 42vw;
  z-index: 1;
  color: #3e4643;
  background-color: white;
  border-radius: 50%;
  padding: 7px;
}
@media (min-width: 768px) {
  .sellIcon {
    left: -120px;
    top: auto;
    width: 100px;
    height: 100px;
  }
}
#messageRow {
  display: flex;
  padding: 15px;
  margin: 5px;
  max-width: 600px;
}
@media (min-width: 768px) {
  #messageRow {
    margin: 0 auto;
  }
}

#soldOutModalBox{
  position: absolute;
  top: 30%;
  align-items: center;
  text-align: center;
}
@media (min-width: 768px) {
  #soldOutModalBox {
    left: 30vw;
  }
}

#messageSoldOutRow {
  display: flex;
  padding: 15px;
  margin: 5px;
  align-items: center;
  max-width: 600px;
}
@media (min-width: 768px) {
  #messageSoldOutRow {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}

#formSoldOut {
  position: absolute;
  top: 20%;
  align-items: center;
  text-align: center;
}
@media (min-width: 768px) {
  #formSoldOut {
    left: 35vw;
  }
}
#loginBox {
  position: fixed;
  bottom: 0px;
  padding-bottom: 30px;
  width: 100vw;
  background-color: white;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
@media (min-width: 768px) {
  #loginBox {
    max-width: 600px;
    margin: 0 auto;
    border-radius: 20px;
    position: relative;
  }
}
#submitBtnLogin {
  width: 80px;
  height: 80px;
  position: fixed;
  left: 75vw;
  bottom: 300px;
  z-index: 10;
  color: rgb(8, 160, 69);
}
@media (min-width: 768px) {
  #submitBtnLogin {
    position: fixed;
    left: 65vw;
    top: 30vh;
    bottom: auto;
  }
}

.sellIconCard {
  position: relative;
  top: -260px;
  left: 120px;
  z-index: 1;
  color: #3e4643;
  background-color: white;
  border-radius: 50%;
  padding: 7px;
}

#photoModalSoldOut {
  width: 150px;
  height: 150px;
  position: relative;
  top: -100px;
  margin-bottom: 0;
  background-color: white;
}
